img {width: 300px; max-width:100%; 

	float:left;
}

h2 {clear:both;}

body {max-width: 700px; margin: auto; }

div { background-color: lightblue; }

.hienompi {background-color: rgb(255,150,50);}

#ingeressi {font-family: arial; font-size: 20px;}